<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STSM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="STSM.Properties.Settings.STSM_DBConnectionString"
            connectionString="Data Source=AYkudo;Initial Catalog=STSM_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="STSM.Properties.Settings.STSM_DBConnectionString1"
            connectionString="Data Source=AYkudo;Initial Catalog=STSM_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <STSM.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>AYkudo</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>STSM_DB</value>
            </setting>
        </STSM.Properties.Settings>
    </userSettings>
</configuration>
