<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Data" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Diagram.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Images" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Utils" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Utils.UI" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Grid" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Navigation" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Printing" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.RichEdit" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.TreeList" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.VerticalGrid" version="19.2.3" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net46" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net46" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
</packages>